html,
body {
  margin: 0;
  height: 100%;
  overscroll-behavior: none;
  overflow: hidden,
}

.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
}

/* Scale canvas with resize attribute to full size */
canvas[resize],
#app {
  width: 100%;
  height: 100%;
}

.menuBar {
  background-color: #fefae4; /* paper */
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.menuButton {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  top: 40;
  bottom: 100%;
  height: 60px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: 'TTNorms';
  src: url('../static/font/TTNorms-Bold.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

#bobContainer {
  display: none;
  opacity: 0;
  background-color: #f5f3e5;
  border-radius: 40px;
  position: absolute;
  padding: 50px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: opacity 0.5s;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}
#bob {
  width: 50%;
}

#ui-container {
  position: absolute;
  top: 0;
  left: 0;
}
